<div class="total" id="vision">
    <div id="center">
        <div id="line"></div>
        <h2>VISIÓN</h2>
        <div id="text-vision">
            <p>
                Nuestro objetivo es lograr que el cliente se relaje y no piense en mas que disfrutar.
                Para ello nuestra dedicación es absoluta logrando de esta forma un servicio a la altura de la
                circunstancia.

            </p>
            <p>
                Aspectos fundamentales como la música y la iluminación están muy contemplados y adaptados
                a el publico presente, para así lograr la mejor experiencia del servicio.
            </p>
        </div>

        <div id="slider">
            <div class="bxslider">
                <div><img src="../../../assets/image/slider0.jpg"></div>
                <div><img src="../../../assets/image/slider1.jpg"></div>
                <div><img src="../../../assets/image/slider3.jpg"></div>
                <div><img src="../../../assets/image/slider4.jpg"></div>
                <div><img src="../../../assets/image/slider5.jpg"></div>
                <div><img src="../../../assets/image/slider6.jpg"></div>
                <div><img src="../../../assets/image/slider7.jpg"></div>
                <div><img src="../../../assets/image/slider8.jpg"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


</div>