<div class="total" id="music">
    <div id="center">
        <div id="line"></div>
        <h2>MÚSICA</h2>
        <p>Seguí nuestras listas para escuchar lo mejor de la música!</p>
        <iframe id="actualizado" src="https://open.spotify.com/embed/playlist/4z5OEamQYn4rFMBDOfsmIl" width="300" height="380"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe id="retro" src="https://open.spotify.com/embed/playlist/5Wlh8tpSw3xcPnpbfLpt28" width="300" height="380"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe id="viejo" src="https://open.spotify.com/embed/playlist/0kZax260Y17gylQgUr8iky" width="300" height="380"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>